# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Zadania.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Nauka\Dziedziczenie\Zadania\.idea\.idea.Zadania\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
