# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Zadanie3.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Cwiczenia1\Zadanie3\.idea\.idea.Zadanie3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
