# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kolokwium.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Cwiczenia7\Kolokwium\.idea\.idea.Kolokwium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
