# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.z1_14.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Nauka\Klasy-Podstawy\z1_14\.idea\.idea.z1_14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
