# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Task3.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Task3\.idea\.idea.Task3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
