# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.zd1_10.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Nauka\Klasy-Podstawy\zd1_10\.idea\.idea.zd1_10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
