# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Test.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Test\.idea\.idea.Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
