# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Cwiczenia8.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\julka\source\repos\nemmip\ProgramowanieKomputerow\Cwiczenia8\Cwiczenia8\.idea\.idea.Cwiczenia8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
